/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.barraTituloCRUD {
    background: rgba(62, 5, 138);
    color: #fff;
    height: 75px;
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    align-items: center; /* Centrar verticalmente con flexbox */
    width: 100%; /* Ancho completo */
}